# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
Thumbs.db
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# oclif
oclif.manifest.json

# TypeScript
*.tsbuildinfo

